@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        @Html.AntiForgeryToken()
        <a class="nav-link text-dark" href="#" onclick="fnLogOut()">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Login">Log in</a>
    </li>
}
